In [1]:
#hands on

In [2]:
import pandas as pd
import numpy as np

In [3]:
#Analyzing population of "The Group of Seven"

In [5]:
# in million
g7_pop = pd.Series([12.56, 20.56, 18.29,19.87, 30.45, 50.23, 51.98])

In [6]:
#series
g7_pop

0    12.56
1    20.56
2    18.29
3    19.87
4    30.45
5    50.23
6    51.98
dtype: float64

In [7]:
g7_pop.name = 'G7 Population in millions'

In [8]:
g7_pop

0    12.56
1    20.56
2    18.29
3    19.87
4    30.45
5    50.23
6    51.98
Name: G7 Population in millions, dtype: float64

In [9]:
g7_pop.dtype

dtype('float64')

In [10]:
g7_pop.values

array([12.56, 20.56, 18.29, 19.87, 30.45, 50.23, 51.98])

In [11]:
type(g7_pop.values)

numpy.ndarray

In [12]:
#index

In [13]:
g7_pop

0    12.56
1    20.56
2    18.29
3    19.87
4    30.45
5    50.23
6    51.98
Name: G7 Population in millions, dtype: float64

In [14]:
g7_pop[0]

12.56

In [15]:
g7_pop[1]

20.56

In [16]:
g7_pop[2]

18.29

In [17]:
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [18]:
#define the index
g7_pop.index = ['Canada','France','Germany','Italy','Japan','United Kingdom','United States']

In [19]:
g7_pop

Canada            12.56
France            20.56
Germany           18.29
Italy             19.87
Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in millions, dtype: float64

In [21]:
#series looks like ordered dictionaries
#create series out of dictionaries
pd.Series({'Canada':12.56, 
           'France': 20.56, 
           'Germany':18.29, 
           'Italy':19.87, 
           'Japan':30.45, 
           'United Kingdom': 50.23, 
           'United States':51.98}, 
          name='G7 Population in million'
         )

Canada            12.56
France            20.56
Germany           18.29
Italy             19.87
Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in million, dtype: float64

In [23]:
pd.Series([12.56,20.56,18.29,19.87,30.45,50.23,51.98],
         index=['Canada', 
                'France', 
                'Germany', 
                'Italy', 
                'Japan', 
                'United Kingdom', 
                'United States'],
         name='G7 Population in million'
         )

Canada            12.56
France            20.56
Germany           18.29
Italy             19.87
Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in million, dtype: float64

In [24]:
#series out of other series, specifying indexes

In [27]:
pd.Series(g7_pop, index=['France', 'Germany', 'Italy', 'Japan'])

France     20.56
Germany    18.29
Italy      19.87
Japan      30.45
Name: G7 Population in millions, dtype: float64

In [28]:
#indexing

In [29]:
g7_pop

Canada            12.56
France            20.56
Germany           18.29
Italy             19.87
Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in millions, dtype: float64

In [30]:
g7_pop['Canada']

12.56

In [31]:
g7_pop['France']

20.56

In [32]:
#numeric positions with iloc

In [35]:
g7_pop.iloc[1]

20.56

In [36]:
g7_pop.iloc[0]

12.56

In [37]:
g7_pop.iloc[-1]

51.98

In [38]:
#selecting multiple elements at once

In [41]:
g7_pop[['Canada', 'France']]

Canada    12.56
France    20.56
Name: G7 Population in millions, dtype: float64

In [42]:
#result is another series

In [44]:
g7_pop.iloc[[0,1]]

Canada    12.56
France    20.56
Name: G7 Population in millions, dtype: float64

In [45]:
#slicing
g7_pop['Canada': 'United Kingdom']

Canada            12.56
France            20.56
Germany           18.29
Italy             19.87
Japan             30.45
United Kingdom    50.23
Name: G7 Population in millions, dtype: float64

In [46]:
#conditional selection (boolean arrays)

In [47]:
g7_pop

Canada            12.56
France            20.56
Germany           18.29
Italy             19.87
Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in millions, dtype: float64

In [49]:
g7_pop>30

Canada            False
France            False
Germany           False
Italy             False
Japan              True
United Kingdom     True
United States      True
Name: G7 Population in millions, dtype: bool

In [50]:
g7_pop[g7_pop>30]

Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in millions, dtype: float64

In [51]:
g7_pop.mean()

29.134285714285713

In [52]:
g7_pop[g7_pop>g7_pop.mean()]

Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in millions, dtype: float64

In [53]:
g7_pop.std()

15.918216877886433

In [54]:
g7_pop.median()

20.56

In [55]:
g7_pop[(g7_pop>g7_pop.mean()-g7_pop.std()/2)| (g7_pop>g7_pop.mean()+ g7_pop.std()/2)]

Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in millions, dtype: float64

In [56]:
#operations and methods

In [57]:
g7_pop

Canada            12.56
France            20.56
Germany           18.29
Italy             19.87
Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in millions, dtype: float64

In [58]:
#series can support vectorized operations and aggregations as Numpy

In [59]:
g7_pop*100000

Canada            1256000.0
France            2056000.0
Germany           1829000.0
Italy             1987000.0
Japan             3045000.0
United Kingdom    5023000.0
United States     5198000.0
Name: G7 Population in millions, dtype: float64

In [60]:
g7_pop.mean()

29.134285714285713

In [61]:
np.log(g7_pop)

Canada            2.530517
France            3.023347
Germany           2.906354
Italy             2.989211
Japan             3.416086
United Kingdom    3.916612
United States     3.950859
Name: G7 Population in millions, dtype: float64

In [62]:
g7_pop['France': 'Italy'].mean()

19.573333333333334

In [63]:
#boolean arrays

In [64]:
g7_pop

Canada            12.56
France            20.56
Germany           18.29
Italy             19.87
Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in millions, dtype: float64

In [65]:
g7_pop>80

Canada            False
France            False
Germany           False
Italy             False
Japan             False
United Kingdom    False
United States     False
Name: G7 Population in millions, dtype: bool

In [71]:
g7_pop[g7_pop > 20]

France            20.56
Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in millions, dtype: float64

In [72]:
g7_pop[(g7_pop>30)|(g7_pop<40)]

Canada            12.56
France            20.56
Germany           18.29
Italy             19.87
Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in millions, dtype: float64

In [73]:
g7_pop[(g7_pop>30)&(g7_pop<100)]

Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in millions, dtype: float64

In [74]:
#modifying series

In [75]:
g7_pop

Canada            12.56
France            20.56
Germany           18.29
Italy             19.87
Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in millions, dtype: float64

In [79]:
g7_pop['Canada']=13.56

In [77]:
g7_pop

Canada            12.56
France            20.56
Germany           18.29
Italy             19.87
Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in millions, dtype: float64

In [80]:
g7_pop['Canada']=13.56

In [81]:
g7_pop

Canada            13.56
France            20.56
Germany           18.29
Italy             19.87
Japan             30.45
United Kingdom    50.23
United States     51.98
Name: G7 Population in millions, dtype: float64

In [82]:
g7_pop[g7_pop<45]

Canada     13.56
France     20.56
Germany    18.29
Italy      19.87
Japan      30.45
Name: G7 Population in millions, dtype: float64

In [83]:
g7_pop[g7_pop<57] = 99.99

In [84]:
g7_pop

Canada            99.99
France            99.99
Germany           99.99
Italy             99.99
Japan             99.99
United Kingdom    99.99
United States     99.99
Name: G7 Population in millions, dtype: float64

In [85]:
g7_pop

Canada            99.99
France            99.99
Germany           99.99
Italy             99.99
Japan             99.99
United Kingdom    99.99
United States     99.99
Name: G7 Population in millions, dtype: float64

In [86]:
#pandas series exercises

In [88]:
import numpy as np
import pandas as pd

In [89]:
#create empty pandas series

In [91]:
pd.Series()

Series([], dtype: object)

In [92]:
#given the X python list convert it to an Y pandas series

In [93]:
X = ['A', 'B', 'C']

In [94]:
print(X, type(X))

['A', 'B', 'C'] <class 'list'>

In [96]:
Y=pd.Series(X)
print(Y, type(Y)) #different type

0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

In [97]:
#given the X pandas series, name it 'my letters'

In [99]:
X = pd.Series(['A', 'B', 'C'])
X.name = 'My letters'

In [100]:
print(X)

0    A
1    B
2    C
Name: My letters, dtype: object

In [101]:
#given the X pandas series, show its values

In [102]:
X = pd.Series(['A', 'B', 'C'])
X.values

array(['A', 'B', 'C'], dtype=object)

In [103]:
#series indexation
#assign index names to the given X pandas series

In [106]:
X = pd.Series(['A', 'B', 'C'])
index_names = ['first', 'second', 'third']
X.index = index_names
print(X)

first     A
second    B
third     C
dtype: object

In [107]:
#given the X pandas series, show its first element

In [109]:
X = pd.Series(['A', 'B', 'C'], index = ['first', 'second', 'third'])
X.iloc[0]

'A'

In [110]:
#given the X pandas series, show its last element

In [112]:
X = pd.Series(['A', 'B', 'C'], index = ['first', 'second', 'third'])
X.iloc[2]

'C'

In [113]:
#Given the X pandas Series, show all middle elements

In [114]:
X = pd.Series(['A', 'B', 'C'], index = ['first', 'second', 'third'])
X[1:-1]

second    B
dtype: object

In [115]:
#Given the X pandas Series, show the elements in reverse position

In [116]:
X = pd.Series(['A', 'B', 'C'], index = ['first', 'second', 'third'])
X[::-1]

third     C
second    B
first     A
dtype: object

In [117]:
#Given the X pandas Series, show the first and last elements

In [118]:
X = pd.Series(['A', 'B', 'C'], index = ['first', 'second', 'third'])
X[0:-1]

first     A
second    B
dtype: object

In [119]:
#series manipulation
#reverse the given pandas series

In [123]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

X[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

In [124]:
#Order (sort) the given pandas Series

In [125]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

In [126]:
#Given the X pandas Series, set the fifth element equal to 10

In [127]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
X[4] = 10
X

first      1
second     2
third      3
forth      4
fifth     10
dtype: int64

In [128]:
#Given the X pandas Series, change all the middle elements to 0

In [129]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
X[1:-1] = 0
X

first     1
second    0
third     0
forth     0
fifth     5
dtype: int64

In [130]:
#Given the X pandas Series, add 5 to every element

In [132]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])
X+5

first      6
second     7
third      8
forth      9
fifth     10
dtype: int64

In [133]:
#series boolean arrays (also called masks)
#Given the X pandas Series, make a mask showing negative elements

In [135]:
X = pd.Series([-1,2,0,-4,5,6,7,-9,10])
mask = X<=0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6    False
7     True
8    False
dtype: bool

In [136]:
#Given the X pandas Series, get the negative elements

In [137]:
X = pd.Series([-1,2,0,-4,5,6,7,-9,10])
mask = X<=0
X[mask]

0   -1
2    0
3   -4
7   -9
dtype: int64

In [138]:
#Given the X pandas Series, get numbers higher than 5

In [139]:
X = pd.Series([-1,2,0,-4,5,6,7,-9,10])
mask = X>5
X[mask]

5     6
6     7
8    10
dtype: int64

In [140]:
# Given the X pandas Series, get numbers higher than the elements mean

In [142]:
X = pd.Series([-1,2,0,-4,5,6,7,-9,10])
mask = X>X.mean()
X[mask]

1     2
4     5
5     6
6     7
8    10
dtype: int64

In [143]:
# Given the X pandas Series, get numbers equal to 2 or 10

In [144]:
X = pd.Series([-1,2,0,-4,5,6,7,-9,10])
mask = (X ==2)| (X == 10)
X[mask]

1     2
8    10
dtype: int64

In [145]:
#logic functions
# Given the X pandas Series, return True if none of its elements is zero

In [146]:
X = pd.Series([-1,2,0,-4,5,6,7,-9,10])
X.all()

False

In [147]:
#Given the X pandas Series, return True if any of its elements is zero

In [148]:
X = pd.Series([-1,2,0,-4,5,6,7,-9,10])
X.any()

True

In [149]:
#summary statistics
#Given the X pandas Series, show the sum of its elements

In [150]:
X = pd.Series([3,5,6,7,2,3,4,9,4])
X.sum()

43

In [151]:
#Given the X pandas Series, show the mean value of its elements

In [152]:
X = pd.Series([3,5,6,7,2,3,4,9,4])
X.mean()

4.777777777777778

In [153]:
# Given the X pandas Series, show the max value of its elements

In [154]:
X = pd.Series([3,5,6,7,2,3,4,9,4])
X.max()

9

In [155]:
#thank you

In [ ]:
#the end